VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ENQUIRY_FUNCTION_NAME=notify-public-enquiry
VITE_COVER_MOVE_FUNCTION_NAME=notify-cover-move
APRES_SERVICE_ROLE_KEY=
PUBLIC_SITE_URL=https://www.apres-school.co.uk
PUBLIC_MAGICBOOKING_URL=https://apres-school.magicbooking.co.uk/Identity/Account/Login
PUBLIC_BOOK_PEBBLE_URL=https://activities.bookpebble.co.uk/
ENQUIRY_NOTIFICATION_TO=hello@apres-school.co.uk
OPERATIONS_NOTIFICATION_TO=hello@apres-school.co.uk
RESEND_API_KEY=
RESEND_FROM=Après School <hello@apres-school.co.uk>
